<div>

    <div class="div_container_align_middle">
        <h2>Paint training image</h2>
        <br/>
    </div>



    <div id="image_painter_input_squares_container">

        <div class="image_painter_paint_square image_painter_paint_square_active"></div>
        <div class="image_painter_paint_square"></div>
        <div class="image_painter_paint_square"></div>
        <div class="image_painter_paint_square"></div>
        <div class="image_painter_paint_square"></div>
        <br/>
        <div class="image_painter_paint_square"></div>
        <div class="image_painter_paint_square"></div>
        <div class="image_painter_paint_square"></div>
        <div class="image_painter_paint_square"></div>
        <div class="image_painter_paint_square"></div>
        <br/>
        <div class="image_painter_paint_square"></div>
        <div class="image_painter_paint_square"></div>
        <div class="image_painter_paint_square"></div>
        <div class="image_painter_paint_square"></div>
        <div class="image_painter_paint_square"></div>

    </div>


    <div class="middle_sepparator_line"><div></div></div>


    <div id="image_painter_output_squares_container">

        <div class="image_painter_paint_square"></div>
        <div class="image_painter_paint_square"></div>
        <div class="image_painter_paint_square"></div>
        <br/>
        <div class="image_painter_paint_square"></div>
        <div class="image_painter_paint_square"></div>
        <div class="image_painter_paint_square"></div>
        <br/>
        <div class="image_painter_paint_square"></div>
        <div class="image_painter_paint_square"></div>
        <div class="image_painter_paint_square"></div>

    </div>


    <div class="middle_sepparator_line"><div></div></div>

    <div class="div_container_align_middle">
        <div class="button" onclick="image_painter_save_image()">Save training image</div>
    </div>
</div>

<template id="image_painter_square_template">
    <div class="image_painter_paint_square"></div> <!-- image_painter_paint_square_active -->
</template>