<div>
    <div class="div_container_align_middle">
        <h2>NN input size</h2>
        <br/>
        <div id="nn-initialization_input_size">
                <input id="nn-initialization_input_size_vertical" type="number" value="6" onclick="this.select();">
                <input id="nn-initialization_input_size_hotizontal" type="number" value="6" onclick="this.select();">
                <img id="nn-initialization_input_size_box" src="/resources/design/media/icons/input_size_box.png"/>
        </div>
    </div>

    <div class="middle_sepparator_line"><div></div></div>

    <div class="div_container_align_middle">
        <h2>NN output size</h2>
        <br/>
        <div id="nn-initialization_output_size">
                <input id="nn-initialization_output_size_vertical" type="number" value="3" onclick="this.select();">
                <input id="nn-initialization_output_size_hotizontal" type="number" value="3" onclick="this.select();">
                <img id="nn-initialization_output_size_box" src="/resources/design/media/icons/output_size_box.png"/>
        </div>
    </div>

    <div class="middle_sepparator_line"><div></div></div>

    <div class="div_container_align_middle">
        <h2>NN deep layers size</h2>
        <br/>
        <div id="nn-initialization_deep_size">
                <input id="nn-initialization_deep_size_vertical" type="number" value="5" onclick="this.select();" title="Number of neurons per layer">
                <input id="nn-initialization_deep_size_hotizontal" type="number" value="25" onclick="this.select();" title="Number of deep layers">
                <img id="nn-initialization_deep_size_box" src="/resources/design/media/icons/deep_layers_box.png"/>
        </div>
    </div>

    <div class="middle_sepparator_line"><div></div></div>

    <div class="flex_box justify_middle">
        <span class="input_explanation">Neural network title:</span>
        <input id="nn_initialization_name" type="text" placeholder="NN name"/>
    </div>

    <div class="middle_sepparator_line"><div></div></div>

    <div class="div_container_align_middle">
        <div class="button">Initialize network</div>
    </div>

</div>