<div class="updates_console">
    <div id="nn_console" class="updates_console_inside">
        <template id="nn_console_item_template">
            <div class="nn_console_item_div">
                <span class="nn_console_item_div_timedate">24/11/24 12:34</span>
                <span class="nn_console_item_div_content">Output sample</span>
            </div>
        </template>
        <div class="nn_console_item_div">
            <span class="nn_console_item_div_timedate">24/11/24 12:34</span>
            <span class="nn_console_item_div_content">Output sample</span>
        </div>
    </div>
</div>