<div>

    <div class="div_container_align_middle">
        <h2>Input/Output result</h2>
        <br/>
    </div>

    

    <div id="weights_display_input_squares_container">

        <div class="weights_display_paint_square weights_display_paint_square_active"></div>
        <div class="weights_display_paint_square"></div>
        <div class="weights_display_paint_square"></div>
        <div class="weights_display_paint_square"></div>
        <div class="weights_display_paint_square"></div>
        <br/>
        <div class="weights_display_paint_square"></div>
        <div class="weights_display_paint_square"></div>
        <div class="weights_display_paint_square"></div>
        <div class="weights_display_paint_square"></div>
        <div class="weights_display_paint_square"></div>
        <br/>
        <div class="weights_display_paint_square"></div>
        <div class="weights_display_paint_square"></div>
        <div class="weights_display_paint_square"></div>
        <div class="weights_display_paint_square"></div>
        <div class="weights_display_paint_square"></div>

    </div>


    <div class="middle_sepparator_line"><div></div></div>


    <div id="weights_display_output_squares_container">

        <div class="weights_display_paint_square"></div>
        <div class="weights_display_paint_square"></div>
        <div class="weights_display_paint_square"></div>
        <br/>
        <div class="weights_display_paint_square"></div>
        <div class="weights_display_paint_square"></div>
        <div class="weights_display_paint_square"></div>
        <br/>
        <div class="weights_display_paint_square"></div>
        <div class="weights_display_paint_square"></div>
        <div class="weights_display_paint_square"></div>

    </div>


    <div class="middle_sepparator_line"><div></div></div>

    <div class="flex_box justify_middle">
        <span class="input_explanation">Error rate:</span>
        <span class="output_text">0.324</span>
    </div>
</div>