/* settings */

@font-face {
    font-family: main_font;
    src: url("/resources/design/other/Montserrat.ttf");
  }

:root {
  /* COLORS */
  --main_color: #004643;
  
  /* ui styles */
  --standard_border_radius: 8px;
  --standard_padding: 8px 9px;
  --standard_border: 1px solid var(var(--main_color));
  --standard_transition: 0.22s;
  --dropdown_list_distance_from_dropdown: calc(100% + 4px);


  /* widgets settings */
  --widget_spacing: 16px;
  --widgets_per_row: 2;
  --widget_box_shadow: 0px 6px 20px -14px black;
}



/* general rules */

body {margin: 0px;font-family: "main_font";background-color: #f5f5f5;}



.flex_br {display: flex;flex: 1 0 100%;}


/* custom UI elements */

input[type=text], input[type=number] {padding: var(--standard_padding);border-radius: var(--standard_border_radius);border: 1px solid var(--main_color);font-family: 'main_font';font-weight: bold;box-shadow: 0px 0px 5px -3px;background-color: white;transition: var(--standard_transition);margin: calc(var(--widget_spacing) * 3/4);}
input[type=number] {width: 46px;text-align: center;}

input[type=text]:focus, input[type=number]:focus {box-shadow: 0px 0px 8px -3px;}



.dropdown {
    display: inline-block;
    margin: calc(var(--widget_spacing) * 3/4);
    position: relative;
}
.dropdown_main {
    display: flex;
    gap: 11px;
    align-items: center;
    padding: var(--standard_padding);
    border-radius: var(--standard_border_radius);
    border: 1px solid var(--main_color);
    cursor: pointer;
    user-select: none;
    background-color: white;
    position: relative;
}
.dropdown_main_text {}
.dropdown_main_arrow {height: 1em;opacity: 0.75;transition: var(--standard_transition);}
.dropdown_main_arrow img {
    height: 100%;
}
.dropdown_list {
    border: 1px solid var(--main_color);
    border-radius: var(--standard_border_radius);
    min-width: 100%;
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    overflow: hidden;
    background-color: white;
    display: none;
    box-shadow: 0px 2px 10px -6px;
    max-height: 220px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 100;
}
.dropdown_list_element {
    padding: var(--standard_padding);
    cursor: pointer;
}
.dropdown_list_element:not(:last-of-type) {border-bottom: 1px solid #b0b0b0;}
.dropdown_list_active_element {
    background-color: #e5e5e5;
}
.checkbox_checked .checkbox_box img {opacity: 1;}
.checkbox {
      display: inline-flex;
      align-items: center;
      gap: 11px;
      margin: calc(var(--widget_spacing)* 3 / 4);
      cursor: pointer;
      user-select: none;
      }
      
.checkbox_box {
  border: 1px solid var(--main_color);
  border-radius: var(--standard_border_radius);
  height: 1em;
  padding: 4px;
  }
.checkbox_box img {height: 100%;opacity: 0;transition: var(--standard_transition);}
.checkbox_text {}


.button {background-color: var(--main_color);padding: var(--standard_padding);border-radius: var(--standard_border_radius);color: white;display: inline-block;cursor: pointer;user-select: none;}


/* .dropdown_list_active_element:not(:last-of-type) {border-bottom: 1px solid #505050;} */






/* specific rules */

.div_container_align_middle {text-align: center;}

.middle_sepparator_line {height: 3px;margin: 18px;text-align: center;position: relative;}
.middle_sepparator_line div {background-color: var(--main_color);opacity: 0.25;width: 62px;border-radius: 1000px;height: 100%;display: inline-block;position: absolute;top: 0;left: 50%;transform: translatex(-50%);}

.flex_box {display: flex;align-items: center;}
.justify_middle {justify-content: center;}

.input_explanation {color: var(--main_color);font-weight: bold;/* opacity: 0.6; */font-size: 14px;}
.output_text {color: var(--main_color);font-weight: bold;opacity: 0.7;font-size: 14px;margin: 0 5px;}


/* widgets container */
.widgets_container {margin: calc(var(--widget_spacing) /2);box-sizing: border-box;}
/* page widget */
.page_widget {display: inline-block;border-radius: var(--standard_border_radius);box-shadow: var(--widget_box_shadow);position: relative;margin: calc(var(--widget_spacing) /2);width: calc(100% / var(--widgets_per_row) - var(--widget_spacing));box-sizing: border-box;background-color: white;vertical-align: top;z-index: 1;}
.page_widget_subcontainer {}



.page_widget_top {display: flex;background-color: var(--main_color);color: white;font-weight: bold;letter-spacing: 0.15px;border-radius: var(--standard_border_radius) var(--standard_border_radius) 0 0;padding: calc(var(--widget_spacing) * 3/4 - 1px) calc(var(--widget_spacing) * 3/4);position: relative;z-index: 1;box-shadow: 0px 1px 15px -5px black;}

.page_widget_top_title {flex: 1;display: flex;align-items: center;}
.page_widget_top_title span {}
.page_widget_top_actions {flex: 0;display: flex;align-items: center;}





.page_widget_content {
    /* min-height: 250px; */
    border-radius: 0 0 var(--standard_border_radius) var(--standard_border_radius);
    position: relative;
    z-index: 0;
    border-color: var(--main_color);
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    box-sizing: border-box;
}
.page_widget_content_subcontainer {
    padding: calc(var(--widget_spacing) * 3/4);
}





/* widget elements */



/* nn_initialization */

#nn-initialization_input_size {position: relative;display: inline-flex;align-items: center;margin: 48px 96px 12px;}
#nn-initialization_input_size_hotizontal {
    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: calc(100% + 8px);
    transform: translateX(-50%);
    margin: 0;
}
#nn-initialization_input_size_vertical {
    position: absolute;
    z-index: 1;
    top: 50%;
    right: calc(100% + 8px);
    transform: translateY(-50%);
    margin: 0;
}
#nn-initialization_input_size_box {height: 96px;position: relative;z-index: 0;}



#nn-initialization_output_size, #nn-initialization_deep_size {position: relative;display: inline-flex;align-items: center;margin: 48px 96px 12px;}
#nn-initialization_output_size_hotizontal, #nn-initialization_deep_size_hotizontal {
    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: calc(100% + 8px);
    transform: translateX(-50%);
    margin: 0;
}
#nn-initialization_output_size_vertical, #nn-initialization_deep_size_vertical {
    position: absolute;
    z-index: 1;
    top: 50%;
    right: calc(100% + 8px);
    transform: translateY(-50%);
    margin: 0;
}
#nn-initialization_output_size_box, #nn-initialization_deep_size_box {height: 64px;position: relative;z-index: 0;}







/* updates console */

.updates_console {padding: 12px;}
.updates_console_inside {border: 1px solid var(--main_color);min-height: 350px;max-height: 450px;overflow-y: auto;}

.nn_console_item_div {
    padding: var(--standard_padding);
    border-bottom: 1px solid #b5b5b5;
}

.nn_console_item_div_timedate {opacity: 0.4;font-size: 14px;line-height: 16px;}
.nn_console_item_div_timedate::after {content: " • ";font-weight: bold;opacity: 0.5;}
.nn_console_item_div_content {}

.nn_console_item_div_error .nn_console_item_div_content {color: red;}


/* image_painter */

#image_painter_input_squares_container {text-align: center;user-select: none;}
#image_painter_output_squares_container {text-align: center;user-select: none;}
.image_painter_paint_square {display: inline-block;height: 32px;width: 32px;margin: 1px;background-color: var(--main_color);opacity: 0.5;cursor: pointer;transition: var(--standard_transition);}
.image_painter_paint_square_active {opacity: 1;}


/* training images */

.training_image {display: inline-block;position: relative;margin: 7px;border-radius: var(--standard_border_radius);border: 1px solid var(--main_color);padding: 8px;background-color: white;box-shadow: 0px 2px 10px -5px black;}
.training_image_delete_button {position: absolute;top: 0px;right: 0px;transform: translate(50%, -50%);background-color: var(--main_color);color: white;border: none;border-radius: 50%;width: 20px;height: 20px;font-size: 8px;line-height: 19px;cursor: pointer;text-align: center;}
.training_image_input {text-align: center;}
.training_image_output {text-align: center;}

.training_image_paint_square {display: inline-block;height: 12px;width: 12px;margin: 1px;background-color: var(--main_color);opacity: 0.3;/* cursor: pointer; */transition: var(--standard_transition);}
.training_image_paint_square_active {opacity: 0.8;}


.training_image_separator {height: 2px;margin: 9px;text-align: center;position: relative;}
.training_image_separator div {background-color: var(--main_color);opacity: 0.25;width: 30%;border-radius: 1000px;height: 100%;display: inline-block;position: absolute;top: 0;left: 50%;transform: translatex(-50%);}


/* IO display */

#io_display_input_squares_container {text-align: center;user-select: none;}
#io_display_output_squares_container {text-align: center;user-select: none;}
.io_display_paint_square {display: inline-block;height: 32px;width: 32px;margin: 1px;background-color: var(--main_color);opacity: 0.5;/* cursor: pointer; */transition: var(--standard_transition);}
.io_display_paint_square_active {opacity: 1;}




/* weights viewer */

#widget_weights_viewer {width: 100%;overflow-x: auto;}
#weights_viewer_screen {position: relative;}

.weights_viewer_neuron {position: absolute;box-sizing: border-box;border: 1px solid var(--main_color);height: 32px;width: 32px;}
.weights_viewer_neuron span {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
.weights_viewer_weight {position: relative;}
.weights_viewer_weight span {position: absolute;top: 0;left: 50%;transform: translate(-50%, -50%);}

/* other elements */

#index_top_settings {margin: 15px 30px 5px;display: flex;align-items: center;flex-wrap: wrap;}